img.img-fluid(src="../../Assets/Img/view-of-airport-247791.jpg", alt="")
div(role="alert").alert.alert-light.mt-4.col-10.m-auto.mt-0.mb-0.col-md-8.text-dark.position-absolute.banner
  h4.alert-heading Andrés Arrona Montoya
  p Promagramador y diseñador web especializado en en frontend
  hr
  div.d-flex.align-content-center.justify-content-around
    span.icon.fab.fa-html5
    span.icon.fab.fa-css3-alt
    span.icon.fab.fa-sass
    span.icon.fab.fa-js-square
    span.icon.fab.fa-php
    span.icon.fab.fa-laravel
    span.icon.fab.fa-wordpress
    span.icon.fas.fa-database