header.container-fluid.d-flex.align-content-center.flex-column.w-100.bg-info
    a(href="").row
        img(src="", alt="")
        h1.text-center.mt-3  Andrés Arrona Montoya
    nav.row.align-items-center.w-100
        ul.row.justify-content-around.align-items-center.w-100
            li.col-3.d-flex.justify-content-around.align-items-center
                a.menu-link(href="") Mis Proyectos
            li.col-3.d-flex.justify-content-around.align-items-center
                a.menu-link(href="") Mi curriculum
            li.col-3.d-flex.justify-content-around.align-items-center
                a.menu-link(href="") Blog
            li.col-3.d-flex.justify-content-around.align-items-center
                p.menu-link(type="botton" data-toggle="collapse" data-target="#multiCollseExample3" aria-expanded="false" aria-controls="multiCollapseExample1") Redes Sociales
    div.row.w-100
        div.col
            div#multiCollseExample3.collapse.multi-collapse.row
                a(href="").col-2.text-center
                    span.fab.fa-facebook
                    p.d-none Facebook
                a(href="").col-2.text-center
                    span.fab.fa-twitter
                    p.d-none Twitter
                a(href="").col-2.text-center
                    span.fab.fa-instagram
                    p.d-none Instagrm
                a(href="").col-2.text-center
                    span.fab.fa-github
                    p.d-none Github
                a(href="").col-2.text-center
                    span.fab.fa-youtube
                    p.d-none Youtube
                a(href="").col-2.text-center
                    span.fab.fa-twitch
                    p.d-none Twitch