p
    button(type="botton" data-toggle="collapse" data-target="#multiCollseExample3" aria-expanded="false" aria-controls="multiCollapseExample1").btn.btn-primary Redes Sociales
div.row
    div.col
        div#multiCollseExample3.collapse.multi-collapse.row
            a(href="").col-2.text-center
                span.fab.fa-facebook
                p.d-none Facebook
            a(href="").col-2.text-center
                span.fab.fa-twitter
                p.d-none Twitter
            a(href="").col-2.text-center
                span.fab.fa-instagram
                p.d-none Instagrm
            a(href="").col-2.text-center
                span.fab.fa-github
                p.d-none Github
            a(href="").col-2.text-center
                span.fab.fa-youtube
                p.d-none Youtube
            a(href="").col-2.text-center
                span.fab.fa-twitch
                p.d-none Twitch